body {
    display: flex;
    flex-direction: column;
    border-color: #1F2937;
    margin: 0;
    font-family: system-ui;
}

header {
    background-color: hsl(215, 28%, 17%);
    display: flex;
    align-content: center;
}

footer {
    background-color: #1F2937;
}

.one {
    background-color: #1F2937;
    padding-bottom: 100px;
}

#oneimg {
    width: 480px;
    height: 230px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    gap: 32px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.head {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.hleft {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding-left: 135px;
}

.hright {
    padding-right: 108px;
}

.hleft,
.hright {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.image {
    width: 170px;
    height: 180px;
    border-radius: 15px;
}

.signup {
    color: #F9FAF8;
    border-radius: 6px;
    background-color: #3882F6;
    border: 0;
    width: 120px;
    padding: 7px 1em;
    font-weight: bolder;
    font-size: 18px;
}

.signup:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.7s;
}

#herot {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
}

#herop {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    gap: 180px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-left: 135px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 80px 0px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.info {
    max-width: 200px;
    text-align: center;
    font-weight: 600;
}

.quotet {
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    max-width: 700px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quotes {
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;
    margin-left: 550px;
}

.callba {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.call {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 900px;
    height: 130px;
    border-radius: 8px;
    display: flex;
}

.callb {
    color: #F9FAF8;
    border-radius: 6px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    width: 120px;
    padding: 7px 1em;
    font-weight: bolder;
    font-size: 18px;
}

.callb:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.7s;
}

.callh {
    font-size: 24px;
    margin-bottom: 0px;
}

.callp {
    margin-top: 3px;
}

.callright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    flex: 1;
}

.callleft {
    padding-left: 100px;
}

.footer {
    padding: 25px 0;
    text-align: center;
    color: #F9FAF8;
    margin-top: auto;
    min-height: 40px;
}